{% extends 'jobs/base.html' %}

{% load static %}

{% block content %}
<br/>
<main role="main" class="container">
  <!-- Blog title and intro here -->
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Welcome</h1>
      <p class="lead my-3">These blog posts detail some of my life experiences over the past few years.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 blog-main">

      <!-- Blog posts -->
      {% for blog in blogs.all %}
      <div class="row mb-2">
        <div class="col-md-12">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">{{ blog.title }}</h3>
              <div class="mb-1 text-muted">{{ blog.publish_date_nice }}</div>
              <p class="card-text mb-auto">{{ blog.summary }}</p>
              <a href="{% url 'detail' blog.id %}" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img class="img-fluid" preserveAspectRatio="xMidYMid slice" focusable="false" src="{{ blog.image.url }}" height=250 width=250/>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div><!-- /.blog-main -->
    <!--sidebar -->
    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About the blog</h4>
        <p class="mb-0">From exploring varying multinational cultures through tourism, to professional experience in the Middle East and Canada, through these posts I hope to give an insite into the my experiences that have helped mould me into the person that I am today.</p>
      </div>
    </aside>

  </div><!-- /.row -->

</main>

{% endblock %}
